* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
bbackground: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
.contenedor-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: black;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
nav a.active {
  color: white;
}
.search-box input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.main-content img{
  justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
  
  height: 480px;
}
